.main {
    display: flex;
    height: 80%;
    width: 80%;
    margin: 3% auto;
}

.left {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.left p {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    margin: 10% auto;
}
.left img {
    height: 60%;
    width: 85%;
    margin: 0 auto;
    border-radius: 20px;
    border-style: solid;
    border-color: black;

}

.right {
    height: auto;
    width: 70%;    
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    
}

.right-header-component {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    font-size: 4vh;
    margin: auto;
    
    cursor: pointer;

}

.selected {
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: lightskyblue;
    margin: 0;
}
.notSelected {
    text-align: center;
    width: 100%;
    color: white;
    margin: 0;

    text-decoration: none;
    opacity: 0.4;
}

.right-body-component {
    width: 100%;
    height: 100%;
    color: white;
    
}

.right-intro-p {
    font-size: 1.2em;
    margin: 0 0 8% 5%;
}

.right-skills {
    color:white;
    margin: 5% 0 0 0;

}

.right-skills li {
    margin: 0 0 2% 7%;
    float: left;
    list-style-type: circle;
}

.right-interests {
    text-align: center; 
    height: auto;
    padding: 3% 0 0 10%;
    margin: auto;
    text-align: justify;
}

.right-interests p {
    font-size: 1.2em;
    
}
