.projects-container {    
    height: fit-content;
    width: 80%;
    
    margin: 5% auto;


    display: grid;
    grid-template-columns: 40% 40%;

    grid-gap: 15% 5%;

    justify-content: center;


}

.projects-element {
    height: fit-content;
    width: 100%;
    
    text-align: center;
    font-size: 1.5em;    
    color: black;
    background-color: white;
    border-style: solid;
    cursor: pointer;
}

.project-popup {
    position: absolute;
    
    margin: 1% 0 1% 0;

    width: 40%;
    height: fit-content;
    
    left: 50%;
    transform: translate(-50%, 0);
    border-style: solid;

    color: white;
    background-color: darkslategrey;
    border-radius: 20px;
}

.diplay-none {
    display: none;
}

.project-header {
    font-size: 1.5em;    
    margin: 0 0 1vh 0;
    font-weight: bold;
}

.test {

    text-align: left;
    width: 100%;
    margin: 0 0 1.5vh 0;
    padding: 0;
}

.testButton{
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 7px 15px;
	text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    
}

.testButton2{
    font-weight: bold;
    font-size: 1.2em;
	background-color:white;
	border-radius:5px;
	border:1px solid #566963;
}