.projects-container {
    
    width: 80%;
    margin: auto;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;

    
}

.projects-element {
    height: auto;
    width: 100%;

    text-align: center;

    font-size: 1.5em;    
    color: black;
    background-color: white;
    border-style: solid;

    cursor: pointer;
}

.project-popup {
    position: fixed;
    left: 50%;
    top: 15%;

    width: 40%;
    height: fit-content;
    
    transform: translate(-50%, 0);
    background-color: grey;
    border-style: solid;
}

.diplay-none {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    background-color: aqua;
}

.project-header {
    font-size: 1.5em;
    display: inline-block;

    padding: 0 1vh 0 0;
    margin: 0;

}

.test {
    background-color: white;
    text-align: left;
    border-style: solid;
    width: 100%;
    margin: 0;
    padding: 0;
}
