@import url("https://fonts.googleapis.com/css?family=PT+Sans");

.Main {
  width: 100%;
  height: 100vh;

  font-family: 'PT Sans';

  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  color: lightseagreen;
  background-color: #202020;

}

.Header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;

  color: white;
}
.time-style {
  font-size: 3vh;
  font-weight: bold;
  
}
.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.link-style-inactive {
  cursor: pointer;
  font-weight: bold;;
  font-size: 3vh;
  margin: auto 5%;
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.link-style {
  cursor: pointer;
  font-weight: bold;;
  font-size: 3vh;
  margin: auto 5%;
  color: white;

  text-decoration-color: lightskyblue;
}

.social-style {
  height: fit-content;
  margin: auto 0;
  display: flex;
}
.social-style img{
  width: 5vh;
  height: 5vh;
  padding: 0 20%;
}

.Body {
  width: 100%;
  height: 85%;

  padding: 0;
  margin: 0;

  background-position: 0;
  background-repeat: no-repeat;

}


.Footer {
  width: 100%;
  height: 5%;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-evenly;

  background-color: grey;

}






