.Main {
  width: 100%;
  height: 100vh;

  border-style: solid;
}

.Header {
  width: 100%;
  height: 10%;

  background-color: red;
}

.Body {
  width: 100%;
  height: 80%;

  background-color: orange;

}

.Footer {
  width: 100%;
  height: 10%;

  background-color: yellow;

}
